/*
    colors :
  ### Primary

Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)
*/
/* 
### Neutral

Dark gray: hsl(0, 0%, 59%) */
/*
Font size (name and stats): 18px
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid red ; */
}

html {
    font-size: 62.5%;

}

body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    /* font-size: 11.25%; */

}